$bodyBackground: #F5F5F5;
$contentBorder: #F5F5F5;
$sideBackground: #F5F5F5;
$mainBackground: #F5F5F5;
$headerunderline: #F5F5F5;
$contentHeaders: #F5F5F5;
$fontColor: #303030;

.print {
  display: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: $bodyBackground;
}

img {
  margin-top: 20px;
  display: block;
  width: 170px;
  height: 170px;
  border-radius: 100%;
}

.name {
  font-size: 28px;
  margin-bottom: 5px;
  flex-direction: row;
}

h3 {
  margin-block-end: 0;
}

p {
  margin-block-start: 0.5rem;
  margin-block-end: 0.5rem;
  font-size: 14px;
  color: $fontColor;
  line-height: 20px;
}

p.main-p {
  margin-bottom: 35px
}

div {
  margin: 5px;
  border-radius: 5px;
}

.main-container {
  margin-left: 100px;
  margin-right: 100px;
  max-width: 90%;
  display: flex;
}

.side-bar {
  position: fixed;
  padding: 5px;
  width: 250px;
  order: 1;
  border: 1px solid $contentBorder;
  margin-right: 2px;
  background-color: $sideBackground;
  height: 600px;
  padding-left: 15px;
  padding-right: 15px;
}

.contact-info span {
  padding-left: 10px;
  font-size: 14px;
}
.contact-info small {
  margin-left: 15px;
}

.main-body {
  margin-left: 290px;
  width: 900px;
  order: 2;
  border: 1px solid $contentBorder;
  background-color: $mainBackground;
  padding-left: 15px;
  padding-right: 15px;
}

.skills p {
  font-size:14px;
}

@media print { 
  
  html, div, body, img, .name, h3, h4, p, div, .main-container, 
  .side-bar, .contact-info span, .contact-info small,
  .main-body, .skills, p.main-p {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    position: relative;
    margin-block-end: 0;
    margin-block-start: 0;
    line-height: 4mm;
    width: 100%;
    background-color: #FFF;
    border-color: #fff;
  }

  p {
    font-size: 8pt !important;
    padding-left: 2mm !important;
    padding-right: 2mm !important;
  }

  h2.name {
    margin-bottom: 5mm;
  }
  
  h2, h3, h4 {
    margin-bottom: 1.5mm;
    margin-top: 5mm;
  }

  h3 {
    font-size: 11pt;
  }

  h4 {
    font-size: 10pt;
  }

  .print h4 {
    font-weight: initial;
  }

  .hr-ed {
    display: none;
  }

  img {
    width: 40mm;
    height: 40mm;
  }

  .contact-info span {
    padding-left: 2mm;
  }

  .contact-info small {
    padding-left: 2mm;
  }

  .side-bar {
    padding-left: 1mm;
    padding-right: 2mm;
    width: 100mm;
  }

  .main-body {
    padding-left: 1mm;
    width:260mm;
  }

  p.main-p {
    margin-top: 3mm;
    margin-bottom: 3mm;
  }

  .web {
    display: none;
  }

  .print {
    display: block;
  }
  
 }